@media (max-width: 1170px) {
  .product-card__inner {
    display: block;
  }
  .product-card_col-1 {
    margin-right: 0;
  }
}
@media (max-width: 1100px) {
  .products-galerey__col-2 .products-galerey__item {
    min-height: 240px;
  }
  .products-galerey__col-1 .products-galerey__item {
    min-height: 500px;
    &:hover {
      .products-galerey__item-box {
        height: 500px;
      }
    }
  }
  .products-galerey {
    margin-bottom: 50px;
  }
}

@media (max-width: 788px) {
  .products-galerey__inner {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer__inner {
    flex-wrap: wrap;
    justify-content: start;
  }
  .footer__col {
    min-width: 160px;
  }
  .footer__col-form {
    margin-top: 50px;
  }
  .slider__item {
    background-position: center top;
    min-height: 701px;
  }
}
@media (max-width: 550px) {
  .slider__item {
    min-height: 481px;
  }
  .thumbs__item {
    height: 52px;
  }
  .thumbs .slick-list .draggable {
    height: 300px !important;
  }
}
@media (max-width: 500px) {
  .products-galerey__col-2 .products-galerey__item {
    min-height: 183px;
  }
  .products-galerey__col-1 .products-galerey__item {
    min-height: 375px;
    &:hover {
      .products-galerey__item-box {
        height: 375px;
      }
    }
  }
}
@media (max-width: 450px) {
  .product-card-counter {
    flex-wrap: wrap;
  }
  .counter__btn-box {
    width: 100%;
    margin-top: 15px;
  }
  .counter__btn-basket {
    margin-left: 0;
  }
  .lock {
    overflow: hidden;
  }
  .header__menu {
    margin-left: 30px;
    display: inline-block;
  }
  .header__menu-btn {
    display: block;
    position: relative;
    width: 18px;
    height: 13px;
    cursor: pointer;
    div {
      background-color: #333;
      height: 1px;
      transition: all 0.3s;
      & + div {
        margin-top: 5px;
      }
    }
  }
  .menu__list {
    display: block;
    background-color: #fff;
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 1;
    padding: 80px 30px 30px 30px;
    transition: all 0.3s;
    a {
      display: block;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: #333333;
      &:hover {
        opacity: 0.5;
      }
    }
    li {
      display: block;
      & + li {
        margin-top: 35px;
      }
    }
  }
  .menu__list.active {
    left: 0;
    right: 0;
    overflow: auto;
  }

  .header__menu-btn.active div:nth-child(1) {
    transform: rotate(45deg);
    content: "";
    position: absolute;
    width: 100%;
    top: 5px;
    transition: all 0.3s;
    z-index: 2;
  }
  .header__menu-btn.active div:nth-child(2) {
    display: none;
  }
  .header__menu-btn.active div:nth-child(3) {
    content: "";
    transform: rotate(-45deg);
    position: absolute;
    width: 100%;
    top: 0px;
    transition: all 0.3s;
    z-index: 2;
  }
}
@media (max-width: 350px) {
  .footer__inner {
    display: block;
    .footer__col {
      max-width: 100%;
      & + .footer__col {
        margin-top: 50px;
      }
    }
  }
  .dropdown__button,
  .dropdown__list-item {
    width: 100%;
  }
}
