@import "vars";
@import "fonts";
@import "reset";
@import "global";

// ********** start header **********
.header {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  height: 46px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.1s;
  z-index: 3;
  &.hide {
    transform: translateY(-46px);
  }
}
.header__menu-btn,
.menu__list {
  display: none;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}
.header__logo {
  a {
    font-weight: 700;
    font-size: 22px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000;
  }
}
.header__box {
  a {
    &:hover {
      svg {
        fill: #c4c4c4;
      }
    }
  }
  a + a {
    margin-left: 30px;
  }
}

// ********** end header **********

//********** start product-card **********
.product-card {
  margin: 21px 0 35px;
}
.product-card__inner {
  margin-bottom: 25px;
  display: flex;
}
.thumbs {
  position: absolute;
  top: 90px;
  margin-left: 24px;
}
.slider__item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 878px;
}
.product__info-slider {
  width: 100%;
}
.thumbs__item {
  width: 70px;
  height: 91px;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}
.thumbs {
  .slick-list.draggable {
    width: 70px !important;
  }
}

.product-card_col-1 {
  max-width: 686px;
  width: 100%;
  margin-right: 37px;
}

.product-card__info {
  margin-top: 21px;
  &-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  &-articule {
    font-size: 12px;
    line-height: 16px;
    color: #828282;
    margin-bottom: 18px;
  }
  &-reviews {
    margin-bottom: 48px;
  }
}
.product-card__price-info {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  span {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
  }
  .old-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: #828282;
    margin-left: 12px;
    margin-right: 19px;
  }
}
.product-card__price-discount {
  p {
    text-align: center;
    display: inline-block;
    padding: 3px 7px;
    border: 1px solid #333333;
    font-size: 12px;
    line-height: 16px;
    & + p {
      margin-left: 4px;
    }
  }
}
.product-card__info-price {
  margin-bottom: 30px;
}
.product-card__info-link {
  a {
    color: #333333;
    & + a {
      margin-top: 12px;
    }
  }
}
.product-card__info-description,
.product-card__info-delivery,
.product-card__info-pay {
  display: flex;
  align-items: center;
  p {
    margin-left: 6px;
    text-decoration-line: underline;
  }
  &:hover {
    opacity: 0.5;
  }
}
.all-style {
  display: block;
  margin: 0 auto;
  text-decoration-line: underline;
  border: none;
  background-color: transparent;
}
.form-group {
  margin-bottom: 12px;
}
.product-card__info-size {
  margin-bottom: 40px;
}
.dropdown {
  position: relative;
}
.dropdown__button {
  position: relative;
  display: block;
  width: 315px;
  text-align: left;
  background: #ffffff;
  border: 1px solid #333333;
  height: 44px;
  padding: 12px 35px 12px 15px;
  cursor: pointer;
}

.dropdown__button::after {
  content: "";
  background-image: url(../images/arr.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%) rotate(90deg);
}

.dropdown__list {
  display: none;
  position: absolute;
  left: 0;
  top: 52px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ffffff;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.dropdown__list--visible {
  display: block;
}

.dropdown__list-item {
  margin: 0;
  width: 315px;
  padding: 0;
  border: 1px solid #333333;
  border-bottom: 0px;
  padding: 13px 20px;
  cursor: pointer;
  text-align: center;
}

.dropdown__list-item:last-child {
  border-bottom: 1px solid #333333;
}

.dropdown__list-item:hover {
  background: #c4c4c4;
}

.dropdown__input-hidden {
  display: none;
}
.tabel-size,
.product-card__counter-link {
  text-decoration-line: underline;
  color: #333333;
  &:hover {
    opacity: 0.5;
  }
}
.product-card__info-basket {
  padding-bottom: 25px;
  border-bottom: 1px solid #333333;
  margin-bottom: 24px;
}

.rating {
  display: flex;
  align-items: center;
}
.rating__body {
  position: relative;
  font-size: 10px;
  &::before {
    content: "☆ ☆ ☆ ☆ ☆";
    display: block;
  }
}
.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}
.rating__active {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  &::before {
    content: "★ ★ ★ ★ ★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #333333;
  }
}

.rating__name {
  margin-right: 13px;
}
.rating__link {
  display: flex;
  align-items: center;
  color: #333;
  svg {
    margin-left: 8px;
  }
  &:hover {
    opacity: 0.5;
  }
}
.rating__link-reviews {
  margin-left: 6px;
}
.rating__link-box {
  display: flex;
  align-items: center;
}
.rating__value {
  display: none;
  margin-left: 6px;
}
.product-card-counter {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.counter__box {
  display: flex;
  height: 44px;
  background-color: #f2f2f2;
  width: 146px;
  .counter__btn {
    cursor: pointer;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    width: 50px;
    background-color: transparent;
    border: none;
    text-align: center;
  }
}
.counter__btn-box {
  display: flex;
  align-items: center;
}
.counter__btn-basket {
  color: #fff;
  padding: 12px 28px;
  border: 1px solid transparent;
  background-color: #333333;
  margin-left: 12px;
  cursor: pointer;
  &:hover {
    background: #fff;
    color: #333333;
    border: 1px solid #333333;
  }
}
.counter__btn-like {
  margin-left: 12px;
  border: none;
  width: 44px;
  height: 44px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  path {
    stroke: #fff;
    fill: transparent;
  }
  &.active {
    path {
      stroke: #fff;
      fill: #fff;
    }
  }
}
.number__reviews {
  margin-left: 6px;
}
//********** end product-card ***********

//********** start product-galerey **********
.products-galerey {
  margin-bottom: 138px;
}
.products-galerey__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}
.products-galerey__item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  &:hover {
    .products-galerey__item-box {
      display: flex;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #333333;
      opacity: 0.7;
    }
  }
}

.products-galerey__item-box {
  padding: 16px 16px 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 1;
  .products-galerey__box-top {
    margin-right: 0;
    margin-left: auto;
  }
  .products-galerey__box-center {
    text-align: center;
    span {
      display: block;
      margin-top: 7px;
      font-size: 14px;
      color: #ffffff;
    }
  }
  .products-galerey__box-bottom {
    display: flex;
    align-items: center;
    svg {
      fill: #fff;
    }
    path {
      stroke: #fff;
    }
    span {
      font-size: 14px;
      color: #fff;
      margin-left: 7px;
    }
  }
}
.products-galerey__col-1 {
  width: 100%;
  .products-galerey__item {
    min-height: 688px;
    &:hover {
      .products-galerey__item-box {
        height: 688px;
      }
    }
  }
}
.products-galerey__col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
  .products-galerey__item {
    min-height: 336px;
  }
}
//********** end product-galerey **********

//********** start footer **********
.footer__inner {
  display: flex;
  justify-content: space-around;
  margin-bottom: 70px;
}
.footer__col-title {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer__col-list {
  li + li {
    margin-top: 8px;
  }
  a {
    color: #333333;

    &:hover {
      opacity: 0.5;
    }
  }
}
.footer__col-form {
  .footer__col-title {
    margin-bottom: 38px;
  }
  position: relative;
  max-width: 452px;
  width: 100%;
  input {
    width: 100%;
    padding: 8px 30px 8px 8px;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 35px;
    &::placeholder {
      font-size: 14px;
      color: #828282;
    }
  }
  span {
    position: absolute;
    right: 8px;
    top: 65px;
    cursor: pointer;
    &:hover {
      path {
        stroke: #000;
      }
    }
  }
  .mail-btn {
    cursor: pointer;
    display: block;
    border: 1px solid #333333;
    padding: 8px 28px;
    font-size: 14px;
    background-color: transparent;
    margin-right: 0;
    margin-left: auto;
    transition: all 0.3s;
    &:hover {
      background: #333333;
      color: #fff;
    }
  }
}
.error {
  display: none;
  padding: 3px;
  position: absolute;
  bottom: 44px;
}
//********** end footer **********

@import "midia";
